@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");

:root {
  --nav-background: #12171a;
  --nav-text: #70dce3;
  --banner-text: #c6bfc3;
  --host-party: #3d5d91;
  --host-bg: #fffeee;
  --settings-box: #fbd8fa;
  --settings-border: #808080;
  --white: #ffffff;
  --popup-bg: #3d5e91;
}

* {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}
.navbar1 {
  background-color: var(--nav-background);
  color: var(--nav-text);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}
.navbar2 {
  background-color: none;
  color: var(--nav-text);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 90%;
}

.navElementsContainer {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logobox {
  display: flex;
  align-items: center;
  color: var(--nav-text);
}

.hostButton {
  background-color: var(--nav-background);
  border: 2px solid var(--nav-text);
  color: var(--nav-text);
  cursor: pointer;
  border-radius: 50px;
  width: 200px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
}

.leaveButton {
  background-color: var(--host-bg);
  border: 2px solid var(--host-party);
  color: var(--host-party);
  cursor: pointer;
  border-radius: 50px;
  width: 200px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
}

.banner {
  padding: 20px;
  display: flex;
  align-items: center;
  /* opacity: 50%; */
  height: 500px;
  background: linear-gradient(rgba(56, 55, 55, 0.5), rgba(56, 55, 55, 0.5)),
    url("./assets/bannerbg.jpeg"), no-repeat;
  background-size: cover;
}
.bannerText {
  width: 45%;
  margin-left: auto;
}

.bannerText h1 {
  font-size: 48px;
  font-weight: 800;
  color: var(--banner-text);
}

#containerText {
  font-size: 32px;
  font-weight: 800;
  color: var(--white);
  text-align: center;
  display: block;
}

.bannerText h2 {
  font-size: 22px;
  font-weight: 600;
  color: var(--banner-text);
  margin-top: 25px;
}

.loginText {
  font-size: 22px;
  font-weight: 600;
  color: var(--banner-text);
  margin-top: 50px;
}

.loginButtonDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.codeInput {
  width: 40%;
  height: 22px;
  border-radius: 50px;
  border: 2px solid var(--nav-text);
  margin-top: 25px;
  margin-right: 25px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  background-color: var(--nav-background);
  color: var(--banner-text);
}

.joinButton {
  background-color: var(--nav-text);
  color: var(--nav-background);
  cursor: pointer;
  border: 0px;
  border-radius: 50px;
  width: 180px;
  height: 40px;
  font-size: 18px;
  font-weight: 800;
}

.handImage {
  margin-right: auto;
  margin-bottom: -55px;
  opacity: 0.8;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.iconsGrid {
  display: flex;
  width: 80%;
  padding: 0px 120px;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.iconbox {
  text-align: center;
  padding: 20px;
}

.textbox {
  padding: 20px;
}

.ftMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 16px;
}
.ftMessageText1 {
  color: var(--host-party);
  margin-bottom: 10px;
}
.ftMessageText2 {
  color: var(--banner-text);
  margin-bottom: 10px;
}
.ftlinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  font-size: 16px;
  margin-bottom: 50px;
}

.loginPage {
  background: linear-gradient(169deg, #070809 -1.3%, #222e34 99.37%),
    url(./assets/Rectangle46.png), no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.loginButton {
  background-color: var(--nav-background);
  color: var(--banner-text);
  cursor: pointer;
  border: 2px solid var(--banner-text);
  border-radius: 50px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginButton img {
  margin: 10px;
}
.loginButtonLink {
  width: 30%;
}

.loginButton:hover {
  background-color: var(--host-party);
  border: 2px solid var(--host-party);
}

.hostPage {
  background: var(--host-bg);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: var(--host-party);
  position: relative;
}

.waitPage {
  background: var(
    --Back,
    linear-gradient(169deg, #070809 -1.3%, #222e34 99.37%)
  );
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: var(--banner-text);
  position: relative;
}

.waitPagepStyle {
  font-size: 28px;
  font-weight: 50;
  margin-top: 50px;
  color: var(--nav-text);
}

.nickNameBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.memberList {
  position: absolute;
  top: 100px;
  left: 100px;
}

.nickNameTextBox1 {
  width: 420px;
  height: 20px;
  border-radius: 50px;
  border: 2px solid var(--host-party);
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}
.nickNameTextBox2 {
  width: 420px;
  height: 20px;
  border-radius: 50px;
  border: 2px solid var(--banner-text);
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  color: var(--banner-text);
  outline: none;
}

.hostPartyButton {
  background-color: var(--host-party);
  color: var(--host-bg);
  cursor: pointer;
  border: 0px;
  border-radius: 50px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: 800;
  margin-top: 20px;
}

.settingsBox {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.setSettingsBox1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid var(--settings-border);
  background: var(--settings-box);
  width: auto;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-top: 50px;
  color: var(--host-party);
}

.setSettingsBox2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid var(--settings-border);
  background: var(--nav-background);
  width: auto;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-top: 50px;
  color: var(--settings-border);
}

.upperSettingsBox {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--settings-border);
  padding: 20px 0px;
}

.upperSettingsContents {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
  display: flex;
}

.lowerSettingsBox {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px 0px;
  margin: 0px 40px;
}

.switch {
  margin: 0px 0px 10px 0px;
}

select {
  border: none;
  border-bottom: 1px solid var(--settings-border);
  background: none;
  margin-right: 10px;
  color: var(--host-party);
}

.waitPage select {
  color: var(--settings-border);
}

.musicPage {
  background: var(--host-bg);
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  height: 100vh;
  color: var(--host-party);
}

.musicPageWrapper {
  width: 90%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  height: 100vh;
  color: var(--host-party);
  margin-top: 30px;
}
.addSongButton {
  background-color: var(--host-bg);
  border: 2px solid var(--host-party);
  color: var(--host-party);
  cursor: pointer;
  border-radius: 50px;
  width: 68%;
  height: 45px;
  font-size: 18px;
  font-weight: normal;
}

.currentSongWrapper {
  background: url(./assets/songgradient.png) no-repeat;
  background-size: cover;
  width: 68%;
  height: 500px;
  border-radius: 50px;
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.thumbnail {
  width: 150px;
  border-radius: 100px;
  background-color: var(--host-bg);
  height: 150px;
}

.songDetails {
  margin: 20px;
  color: #070809;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbImg {
  background-size: cover;
  border-radius: 50% 50% 50% 50%;
  width: 150px;
  height: 150px;
}

.authorName {
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
}

.songName {
  font-size: 18px;
  font-weight: normal;
  margin: 5px;
}

#popupBox {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: var(--popup-bg);
  width: 30%;
  height: 200px;
  border-radius: 20px;
}

#popupOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
#songPopupBox {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: var(--popup-bg);
  width: 30%;
  height: fit-content;
  border-radius: 20px;
  padding: 20px 0px;
}

#songPopupOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.popupContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  width: 100%;
  height: 100%;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.cancelButton {
  background-color: var(--popup-bg);
  border: 0px;
  width: 30%;
  color: var(--white);
  font-size: 16px;
  font-weight: normal;
  height: 35px;
  cursor: pointer;
}
.yesButton {
  background-color: var(--white);
  border: 0px;
  width: 100%;
  height: 35px;
  color: var(--popup-bg);
  font-size: 16px;
  font-weight: normal;
  border-radius: 50px;
  cursor: pointer;
}

#playingContainer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.song {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 20px;
}

.songInfo {
  margin: 20px;
}

#pauseButton {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.pauseImg {
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 9;
}

.audioProgressBar {
  /* width: 100%; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px;
}
/* .songsList {
  cursor: pointer;
} */
/* .audioProgressBar canvas {
  width: 100%;
  height: 150px;
} */
